<div class="modal-dialog" style="width:90%">
  <div class="modal-content">
    <div class="modal-header">
      最近的500条未定义数据
    </div>
    <div class="modal-body">
      <ul class="list-group alt all_custom_log">
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
    </div>
  </div>
</div>
<script src="/static/view/setup/list_all_custom.js"  type="text/javascript" ></script>