<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="padding:0px">
             <ul class="list-group no-radius">
                        <li > <span class="pull-right">45,000</span> <span class="label bg-primary">1</span> .inc company </li>
                       
                      </ul>


        <div class="modal-footer">
            <div class="btn-group pull-left">
                    <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown" >分析 <span class="caret"></span></button>
                    <ul class="dropdown-menu" >
                      <li><a href="#">饼状图</a></li>
                      <li><a href="#">柱状图</a></li>
                      <li class="divider"></li>
                      <li><a href="#">报表</a></li>
                    </ul>
                  </div>

            <button type="button" class="btn btn-primary" id="submit">过滤</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>
<script src="/static/view/analyze/log_filter_modal.js"  type="text/javascript" ></script>

