<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>保存数据快照</h4>
        </div>
        <div class="modal-body">
            <h6>快照搜索条件:</h6>
            <pre class="snapshoot_filter"><code></code></pre>
            <div class="form-group"  >
                <label>快照名:</label>
                <input type="text" name="snapshoot_name" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" id="filter" name="filter" >
            <button type="button" class="btn btn-info" id="submit">保存</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>
<script src="/static/view/analyze/log_snapshot_modal.js"  type="text/javascript" ></script>