<% include ../public/header.ejs %>
<% include ../public/public_header.ejs %>
<% include ../public/menu.ejs %>
<section id="content">
  <section class="vbox">
    <section class="scrollable wrapper">
      <div class="panel b-a">
        <div class="panel-heading b-b"><i class="fa fa-lg fa-key"> </i> API管理</div>
      <header class="panel-heading"> <b> Private Key :<%=private_key%> <br/><br/> Public Key: <%=public_key%></b></header>
      <table class="table table-striped m-b-none">
        <thead>
          <tr>
            <th>使用量</th>
            <th>项目</th>
            <th>额度</th>
            <th style="width:70px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="progress progress-sm progress-striped active m-t-xs m-b-none">
              <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
            </div></td>
            <td>每日存储容量</td>
            <td>200M</td>
            <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div></td>
          </tr>
          <tr>
            <td><div class="progress progress-sm progress-striped active m-t-xs m-b-none">
              <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
            </div></td>
            <td>每日存储配额</td>
            <td>1,000,000次</td>
            <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div></td>
          </tr>
          <tr>
            <td><div class="progress progress-xs m-t-xs m-b-none">
              <div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="40%" style="width: 40%"></div>
            </div></td>
            <td>每日搜索次数</td>
            <td>1,000,000,0次</td>
            <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div></td>
          </tr>
          <tr>
            <td><div class="progress progress-xs m-t-xs m-b-none">
              <div class="progress-bar bg-warning" data-toggle="tooltip" data-original-title="20%" style="width: 20%"></div>
            </div></td>
            <td>搜索频率/分钟</td>
            <td>1,000次</td>
            <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div></td>
          </tr>
          <tr>
            <td><div class="progress progress-xs m-t-xs m-b-none">
              <div class="progress-bar bg-danger" data-toggle="tooltip" data-original-title="15%" style="width: 15%"></div>
            </div></td>
            <td>自定义数据源</td>
            <td>30个</td>
            <td class="text-right"><div class="btn-group"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>
</section>
<% include ../public/footer.ejs %>