<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">设置灰度发布</h5>
        </div>
            <div class="modal-body" style="min-height:100px">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Version</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="version" value=<%=info.version%> />
                    </div>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Locked</label>
                    <div class="col-sm-10">
                      <select  class="form-control m-b" name="locked">
                        <option value='0' <% if(key=info.locked == '0'){ %> selected <% } %>>未锁定</option>
                        <option value='1' <% if(key=info.locked == '1'){ %> selected <% } %>>锁定</option>
                      </select>
                    </div>
                </div>
                <br/>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="online_id" value='<%=info.online_id%>'>
                <button  id="submit" class="btn  btn-success">确定</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
            </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
$(".select2").select2();

$("#submit").click(function() {

        var inputs = $("input:text").add($("input:hidden")).add($("select")).add($("textarea")).add($('.multiple :selected')),
            str = "";

        var obj = {};
        $.each(inputs, function(index) {
            if (this.name != '' && this.value != '') {
                var value = this.value;
                if($(this).attr('class') === 'select2 multiple'){
                    var foo = [];
                    $('.multiple :selected').each(function(i, selected){
                        foo[i] = $(selected).text();
                    });
                    var value = foo ;
                }
                obj[this.name] = value
            }
        });

        delete obj.undefined;
        console.log(obj);
        $.ajax({
            type: 'POST',
            data: JSON.stringify(obj),
            contentType: 'application/json',
            url: '/custom/dev_do',
            success: function(data) {
                if(data.hasOwnProperty("errors") ){
                    $.each(data.errors,function(item){
                            var error_obj = $("input[name='"+item+"']").focus();
                    });
                noty({
                        text: '缺少必须的字段',
                        type: "error",
                        layout: 'center',
                        timeout: 1
                    });
                } else {
                    noty({
                        text: '操作成功',
                        type: "success",
                        layout: 'center',
                        timeout: 1
                    });
                    //Success Display
                    $('.modal.in').modal('hide'); 
                    oTable.fnReloadAjax();
                }
            }
        });
    });
});
</script>
