<% include ../public/header.ejs %>
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            </br>
            <section class="panel panel-default">
                <header class="panel-heading font-bold">注册用户分析
                    <div id="reportrange" class="pull-right" style="cursor:pointer;">
                        <i class="fa fa-calendar fa-lg"></i>&nbsp;
                        <span>选择时间:&nbsp;<%=now%></span> <b class="caret"></b>
                    </div></header>
                    <div class="panel-body">
                        <div id="chart" style="height:400px" class="center">
                            <img src="/images/loading.gif" style="padding-top:200px;">
                        </div>
                    </div>
                </section>
<% include ../public/footer.ejs %>

<script type="text/javascript">

var loadchart = function(startstamp,endstamp){
    $.ajax({
    type: 'GET',
    contentType: 'application/json',
    url: '/custom/reg_analyze_chart/'+startstamp+'/'+endstamp,
    success: function(data) {
        if(data.data.length === 0){
            $("#chart").html("<h3 class='center' style='padding-top:190px;'>您太勤劳了，系统暂时无法统计今天的数据,请选择其他日期<h3>");
            return
        }
        $("#chart").removeClass('center');
        var chart = AmCharts.makeChart("chart", {
            "titles": [
                {
                "id": "Title-1",
                "size": 15,
                "text": "搜索到" + data.count + "个注册用户"
                }
            ],
            "type": "pie",
            "theme": "light",
            "legend": {
                "markerType": "circle",
                "position": "right",
                "marginRight": 80,
                "autoMargins": false
            },
            "dataProvider": data.data,
            "valueField": "value",
            "titleField": "date"
        });

    }
});
}
    var startstamp = moment().startOf("day").format('X');
    var endstamp = moment().format('X');

    loadchart(startstamp,endstamp);

    $('#reportrange').daterangepicker(
        {
            locale: {
                applyLabel: "确定",
                cancelLabel: "取消",
                fromLabel: "从",
                toLabel: "到",
                customRangeLabel: "自定义范围",
                daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                firstDay: 1
            },
            timePicker: true,
            timePicker12Hour: false,
            timeFormat: "HH:mm",
            format: "YYYY-MM-DD",
            ranges: {
                "今天": [moment().startOf("day"), moment()],
                "昨天": [moment().subtract("days", 1).startOf("day"), moment().subtract("days", 1).endOf("day")],
                "最近7天": [moment().subtract("days", 6), moment()],
                "最30天": [moment().subtract("days", 29), moment()],
                "本月": [moment().startOf("month"), moment().endOf("month")],
                "上月": [moment().subtract("month", 1).startOf("month"), moment().subtract("month", 1).endOf("month")]
            },
            startDate: moment().subtract('days', 29),
            endDate: moment()
        },
        function(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            var startstamp = start.format('X');
            var endstamp = end.format('X');
            loadchart(startstamp,endstamp);
        }
    );

</script>
