<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="padding:0px">
           <div class="panel-heading" > <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">预设时间<b class="caret"></b></a> </div>
            <div id="collapse1" class="panel-collapse in">
                      <div class="panel-body text-sm"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>

                           <div class="panel-heading" > <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">相对<b class="caret"></b></a> </div>
            <div id="collapse2" class="panel-collapse">
                      <div class="panel-body text-sm"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>

                                  <div class="panel-heading" > <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">日期范围<b class="caret"></b></a> </div>
            <div id="collapse3" class="panel-collapse">
                      <div class="panel-body text-sm"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>

                  </div>
           
  

   

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit">过滤</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>