<!DOCTYPE html>
<html class="app">
  <head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/public/css/logstack.css" type="text/css" />
    <link rel="shortcut icon" href="/public/images/sevnote.ico">
   