<!DOCTYPE html>
<html lang="en" class="app">
	<head>
		<meta charset="utf-8" />
		<title>注册成功 | 机器大数据分析系统</title>
		<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="shortcut icon" href="/public/images/sevnote.ico">
		<link rel="stylesheet" href="/public/js/jPlayer/jplayer.flat.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/app.v1.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/font-awesome.min.css">
		<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
	</head>
	<body class="bg-primary dker">
		<section id="content" class="m-t-lg wrapper-md animated fadeInUp" style="text-algin:center">
			<div class="col-sm-12 portlet">
				<section class="panel panel-default portlet-item">
					<header class="panel-heading">
					设置向导</header>
					<div class="list-group bg-white"> <a href="#" class="list-group-item"> <i class="fa fa-fw fa-envelope"></i> Inbox </a> <a href="#" class="list-group-item"> <i class="fa fa-fw fa-eye"></i> Profile visits </a> <a href="#" class="list-group-item"> <i class="fa fa-fw fa-phone"></i> Call </a> <a href="#" class="list-group-item"> <i class="fa fa-fw fa-comments-o"></i> Messages </a> <a href="#" class="list-group-item"> <i class="fa fa-fw fa-bookmark"></i> Bookmarks </a> <a href="#" class="list-group-item"> <i class="fa fa-fw fa-bell"></i> Notifications </a> </div>
				</section>
			</div>
		</section>
		<!-- footer -->
		<footer id="footer">
			<div class="text-center padder">
				<p> <small>微远科技旗下产品 &copy; 2014 版权所有<br>
				</small> </p>
			</div>
		</footer>
		<% include ../public/footer.ejs %>