<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body center">
            <i class="fa fa-exclamation-triangle fa-2x"></i> 拒绝访问，没有操作权限，请联系管理员
        </div> 
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>

